:root {
  --ns-color-blue: #1c34a9; /* Blue */
  --ns-color-blue-rgb: 28, 52, 169;

  --ns-color-red: #cf0005; /* Red */
  --ns-color-red-rgb: 207, 0, 5;

  --ns-color-orange: #BF8808; /* Orange */
  --ns-color-orange-rgb: 191, 136, 8;

  --ns-color-green: #26A269; /* Green */
  --ns-color-green-rgb: 38, 162, 105;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ns-color-blue: #5c6cff; /* Lighter blue for contrast */
    --ns-color-blue-rgb: 92, 108, 255;

    --ns-color-red: #ff3b3f; /* Lighter red for visibility */
    --ns-color-red-rgb: 255, 59, 63;

    --ns-color-orange: #e6a820; /* Lighter orange */
    --ns-color-orange-rgb: 230, 168, 32;

    --ns-color-green: #3ddc97; /* Lighter green */
    --ns-color-green-rgb: 61, 220, 151;
  }
}